.hero {
    background: lightgoldenrodyellow;

    .hero__wrapper {
        height: calc(100vh - (#{$headerDesktopHeight});
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            padding: 4rem 0;
        }

        .hero-title {
            font-size: 4.8rem;

            .hero-subtitle {
                font-size: 2.4rem;
            }
        }
    }