html {
    height: 100%;
    box-sizing: border-box;
    font-size: 10px;
  }
  
  body {
    color: $black;
    background: $white;
    font-family: $primaryFont;
    font-size: 1.8rem;
    position: relative;
    min-height: 100%;
    overflow-x: hidden;
  }
  
  
  a {
    text-decoration: none;
    cursor: pointer;
    transition: $defaultTransition;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 400;
    text-transform: none;
  }
  
  main {
    margin-top: $headerDesktopHeight;
  
    @media ($mmd) {
      margin-top: $headerMobileHeight;
    }
  }
  

  .container {
    max-width: $containerWidth;
    margin-left: auto;
    margin-right: auto;
    padding: 0 3vw;
  }

  // KEEP FOOTER BOTTOM EVEN IF CONTENT IS SHORTER THAN VIEWPORT HEIGHT 
  #page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}