/*** The new CSS Reset - version 1.2.0 (last updated 23.7.2021) ***/
*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
    all: unset;
    display: revert; }

  *,
  *::before,
  *::after {
    box-sizing: border-box; }
  

  ol, ul {
    list-style: none; }

  table {
    border-collapse: collapse; }
  
  /* revert the 'white-space' property for textarea elements on Safari */
  textarea {
    white-space: revert; }
  